/* #region 調整遮罩的背景色 */

:root {
  --mark-bg: rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] {
  --mark-bg: rgba(0, 0, 0, 0.7);
}

/* #endregion */


#page-header #post-info {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}


/* #region Scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  scrollbar-width: auto;
}

/* #endregion */
